name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  id-token: write

jobs:
  release:
    uses: sxzz/workflows/.github/workflows/release.yml@v1.1.1
    with:
      publish: true
